[Oo]bj/
[Bb]in/
[Oo]ut/
.nuget/
_ReSharper.*
packages/
artifacts/

*DS_Store
*.sln.ide

*.swp
*.dll
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.userosscache
*.user
*.suo
*.userprefs
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# Sonar Qube
.sonarqube/
